<div class="row" ng-show="ctrl.alerts.length">
  <div class="col-md-12">
    <uib-alert data-ng-repeat="alert in ctrl.alerts" type="{{alert.type}}" close="ctrl.closeAlert($index)">
      {{alert.msg}}
    </uib-alert>


    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="ctrl.alert.msg" placeholder="Type your message here!">
        <span class="input-group-btn">
          <input type="submit" ng-click="ctrl.addAlert()" class="btn btn-default" value="Send">
        </span>
      </div>
    </div>
  </div>

</div>

